---
layout: compress
---

{% include base_path %}
{% include lang.html %}

<!doctype html>
<html lang="{{ ui_lang | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body id="top">

    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    <a
      href="#top"
      id="back-to-top"
      class="back-to-top"
      aria-label="{{ ui.back_to_top }}"
      title="{{ ui.back_to_top }}"
      aria-hidden="true"
      tabindex="-1"
    ><span aria-hidden="true">↑</span></a>

    {% include scripts.html %}

  </body>
</html>
